# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Env
.env

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Alembic (keep versions/, ignore local db)
*.db
